 body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
}


.container{
    width: 1175px;
    
} 


.grid-container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
}

.grid-item {
    position: relative;
    overflow: hidden;
  
}

.grid-item img {
    height: 300px;
    width: 95%;
    display: block;
    
    border-radius: 20px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*  */
.grid-container2{
    display: grid;
    grid-template-columns: repeat(3,20% 45% 30%);
    gap: 20px;
    padding: 10px;
}




/*  */
.grid-container3 {
    display: grid;
    grid-template-columns: repeat(2, 40% 60%);
    gap: 20px;
    padding: 10px;
}

/* responsive */


@media screen and (max-width: 768px) {
    .grid-container1,
    .grid-container2,
    .grid-container3 {
        grid-template-columns: 1fr;
    }
}

